body {
  background-color: #239847;
}
h1 {
  color: honeydew;
  size: 3rem;
  font-weight: 700;
}
p a {
  color: aqua;
  size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline aqua;
}
div.img-container {
  height: 800px;
  width: 100%;
  background-image: url("img/003.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
